/* container for all of the toggle elements */
.toggle-container {
    align-self: flex-end;
    font-size: 14px;
    text-align:center;
    width: 10rem;
    display: flex;
    background: #E5E4E2;
    color: #36454F;
    line-height: 2.5;
    border-radius: 3rem;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    margin: 5px;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.toggle-container input[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.toggle-container label {
    width: 50%;
    cursor: pointer;
    border-radius: 3rem;
}

.toggle-container input[type="radio"]:checked+label { 
    background-color: #FFC000;
    color: #ffffff;
}